.register-container {
  display: flex;
  gap: 1rem;
  color: white;
  margin: 2vw;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

  input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 1rem;
    width: 80%;
    color: white;
    border-radius: 80px;
    margin-top: 2vh;
  }

  button {
    font-size: 16px;
   position: fixed;
  padding: 1rem;
  width: 95%;
  bottom: 40px;

  background: rgba(0, 128, 128, 0.2);
  color: white;
  font-weight: 600;
  font-style: normal;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */

  border: 1px solid rgba(255, 255, 255, 0.2);

  border-radius: 80px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  }

h2 {
    border-bottom: 2px dashed transparent;
  border-image: repeating-linear-gradient(to right, white 0, white 10px, transparent 10px, transparent 20px);
  border-image-slice: 1;
  color: #D6F5EF;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
}

