.register-container {
  display: flex;
  gap: 1rem;
  color: white;
  margin: 2vw;
      flex-direction: column;

}

  input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 1rem;
    width: 80%;
    color: white;
    border-radius: 80px;
    margin-top: 2vh;
  }

  button {
    position: fixed;
    padding: 1rem;
    background: teal;
    color: white;
    border: none;
    border-radius: 80px;
    bottom: 30px;
    width: 95%;
    font-weight: 600;
    font-style: normal;

  }

h2 {
    font-size: 20px;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
}

